*{
    box-sizing: border-box;
    transition: 1.3s;
}
body {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    cursor: pointer;
}
.header {
    display: grid;
    place-items: center;
    height: 50px;
    width: 100%;
}
.header h3 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}
.gallery-content {
        max-width: 1000px;
        margin: 0 auto;
        padding: 50px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
        grid-auto-flow: dense;
        grid-gap: 20px;     
}
.gallery-content .img-box {
    border: 10px solid rgb(0, 0, 0);
}

.gallery-content .img-box:nth-child(7n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-content .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5 ease;
}

@media only screen and (max-width: 600px){
    .gallery-content{
        display: grid;
        grid-template-columns:auto;
        grid-gap: 10px;
        grid-template-columns: repeat((2fr));
    }
}

@media only screen and (max-width: 450px) {
    .gallery-content{
        display: grid;
        grid-template-columns:auto;
        grid-gap: 10px;
        grid-template-columns:  1fr;
    }
    .gallery-content .img-box:nth-child(7n + 1) {
        grid-column: span 1;
        grid-row: span 1;
    }
}
.gallery-content .img-box:nth-child(1) img{
    border:10px solid rgb(138, 231, 130);
}
.gallery-content .img-box:nth-child(2) img{
    border:10px solid rgb(48, 22, 167);
}
.gallery-content .img-box:nth-child(3) img{
    border:10px solid rgb(219, 96, 143);
}
.gallery-content .img-box:nth-child(4) img{
    border:10px solid rgb(189, 27, 140);
}
.gallery-content .img-box:nth-child(5) img{
    border:10px solid rgb(66, 231, 34);
}
.gallery-content .img-box:nth-child(6) img{
    border:10px solid rgb(49, 93, 158);
}
.gallery-content .img-box:nth-child(7) img{
    border:10px solid rgb(66, 178, 29);
}
.gallery-content .img-box:nth-child(8) img{
    border:10px solid rgb(52, 63, 214);
}
.gallery-content .img-box:nth-child(9) img{
    border:10px solid rgb(38, 189, 248);
}
.gallery-content .img-box:nth-child(10) img{
    border:10px solid rgb(196, 64, 115);
}
.gallery-content .img-box:nth-child(11) img{
    border:10px solid rgb(124, 6, 167);
}
.gallery-content .img-box:nth-child(12) img{
    border:10px solid rgb(233, 14, 185);
}
.gallery-content .img-box:nth-child(13) img{
    border:10px solid rgb(159, 141, 240);
}
.gallery-content .img-box:nth-child(14) img{
    border:10px solid rgb(231, 96, 186);
}
.gallery-content .img-box:nth-child(15) img{
    border:10px solid rgb(130, 26, 228);
}
.gallery-content .img-box:nth-child(16) img{
    border:10px solid rgb(105, 240, 211);
}
.gallery-content .img-box:nth-child(17) img{
    border:10px solid rgb(228, 123, 74);
}
.gallery-content .img-box:nth-child(18) img{
    border:10px solid rgb(114, 246, 70);
}
.gallery-content .img-box:nth-child(19) img{
    border:10px solid rgb(33, 186, 241);
}


::-webkit-scrollbar {
    width: 16px;
    box-shadow: inset 8px 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(180, 2, 204, 0.993);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(147, 15, 125);
}